<!-- views/index.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>CRUD Application</title>
</head>
<body>
  <h1>Data List</h1>
  <a href="/create">Create New Data</a>
  <ul>
    <% data.forEach(item => { %>

        <h2><%= item.title %></h2>
        <img src="/uploads/<%= item.image %>" alt="<%= item.title %>">
        <a href="/edit/<%= item._id %>">Edit</a>
        <a href="/delete/<%= item._id %>">Delete</a>
   
    <% }); %>
  </ul>
</body>
</html>
