<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>KRISHTI | ART</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="lib/slick/slick.css" rel="stylesheet" />
    <link href="lib/slick/slick-theme.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mooli&display=swap"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/common.css" rel="stylesheet" />
    <style>
      .alertBox {
  position: fixed;
  top: 20px;
  right: 20px;
  font-weight: 600;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


    </style>
  </head>

  <body>
    <div class="alertBox" id="alertBox">
      <span> <% if(typeof message !== 'undefined'){ %>
        <h5 style="color: green;padding: 10px;"><%= message %></h5>
        <% } %></span>

    </div>
    <!-- Top bar Start -->
    <div class="top-bar">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-envelope"></i>
            nikkisingh1214@yahoo.com
          </div>
          <div class="col-sm-6">
            <i class="fa fa-phone-alt">&nbsp;+61</i>
            451496060
          </div>
        </div>
      </div>
    </div>
    <!-- Top bar End -->

     <!-- Bottom Bar Start -->
     <div class="bottom-bar">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-3">
            <div class="logo">
              <a href="/">
                <img src="images/logo.png" alt="Logo" />
              </a>
            </div>
          </div>
          <div class="typewriterWith">
            <div class="typewriter">
              <p>Krishti Paintings & Art Classes</p>
            </div>
          </div>
          <div class="col-md-3">
          <div class="user">
            <i class="fa fa-user"></i>
            <a href="<%= user ? '/logout' : '/login' %>" class="btn wishlist">
              <%= user ? 'Logout' : 'Login' %>
            </a>
            <% if (user) { %>
              <a href="/wishlist" class="btn wishlist">
                <i class="fa fa-heart"></i>
              </a>
              <% } %>
            <a href="/cart" class="btn cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- Bottom Bar End -->

    <!-- Nav Bar Start -->
    <div class="nav">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
          <a href="#" class="navbar-brand">Krishti</a>
          <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-between"
            id="navbarCollapse"
          >
            <div class="navbar-nav mr-auto">
              <a href="/" class="nav-item nav-link"
                >Home &nbsp;<i class="fa fa-home"></i
              ></a>
              <a href="/painting" class="nav-item nav-link active">Paintings</a>
              <a href="/gallery" class="nav-item nav-link">gallery</a>
              <!-- <div class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  >gallery</a
                >
                <div class="dropdown-menu">
                  <a href="wishlist.html" class="dropdown-item">p1</a>
                  <a href="login.html" class="dropdown-item">p2</a>
                  <a href="contact.html" class="dropdown-item">p3</a>
                </div>
              </div> -->
              <a href="/customization" class="nav-item nav-link"
                >customization</a
              >
              <a href="/workshop" class="nav-item nav-link">workshop</a>

              <a href="/about" class="nav-item nav-link">about us</a>
              <a href="/contact" class="nav-item nav-link">Contact US</a>
            </div>
            <div class="navbar-nav ml-auto">
              <div class="nav-item dropdown">
                <a
                  href="/account"
                  class="nav-link"
                  ><%= user.name %>&nbsp; Profile</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
      <div class="container-fluid">
        <ul class="breadcrumb" id="breadcrumbActive">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <!-- <li class="breadcrumb-item"><a href="#">Products</a></li> -->
          <li class="breadcrumb-item active">Paintings</li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product List Start -->
    <div class="product-view">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
          
              <% products.slice(0, 6).forEach((product) => { %>
                <a href="/product/<%= product._id %>">
                <div class="col-md-4 productImg">
                   
                  <div class="product-item">
                    <div class="product-image">
             
                        <img src="<%= product.image1 %>" alt="Image 1">
                   
                      <div class="product-action">
                        <img src="<%= product.image2 %>" alt="Image 2">
                      </div>
                    </div>
                    <div class="product-price">
                      <a><%= product.title %></a><br>
                      <!-- <a><i class='bx bx-money'></i>AUD <%= product.price %></a> -->
                      <div class="product-pricebtn">
                      <a><form action="/addCart/<%= product.id %>" method="post">
                        <button type="submit" class="btn"><i class="fa fa-shopping-cart"></i></button>
                    </form></a>
                    <% if (user) { %>
                      <a><form action="/addWish/<%= product.id %>" method="post">
                        <button type="submit"  class="btn"><i class="fa fa-heart"></i></button>
                    </form></a>
                  <% } %>

                  </div>
                    </div>
                  </div>
                </div></a>
                <% }); %>
              
            </div>
          </div>

          <!-- Side Bar Start -->
          <div class="col-lg-4 sidebar">
            <h2 style="text-align: center">our latest Art Work</h2>
            <div class="sidebar-widget widget-slider">
              <div class="sidebar-slider normal-slider">
                <!-- Shuffle the products array randomly -->
<%
function shuffleArray(array) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
}
shuffleArray(products);
%>

<!-- Display a fixed number of random products -->
<% const numRandomProducts = 6; %>
<% products.slice(0, numRandomProducts).forEach((product) => { %>
  <div class="col-md-4 productImg">
    <div class="product-item">
      <a href="/product/<%= product._id %>">
      <div class="product-image">
        
          <img src="<%= product.image1 %>" alt="Image 1" />
      
        <div class="product-action">
          <img src="<%= product.image2 %>" alt="Image 2" />
        </div>
      </div>
      </a>
      <div class="product-price">
        <a><%= product.title %></a><br>
        <i class='bx bx-money'></i>AUD
        <!-- <a><%= product.price %></a><br> -->
        <a class="btn" href="">
          <i class="fa fa-shopping-cart"></i> Buy Now
        </a>
      </div>
    </div>
  </div>
<% }); %>


              </div>
            </div>
            <!-- <div class="sidebar-widget widget-slider">
              <div class="sidebar-slider normal-slider">
                <% products.forEach((product) => { %>
<div class="col-md-4 productImg">
  <div class="product-item">
    <div class="product-image">
      <a href="product-detail.html">
        <img src="<%= product.image1 %>" alt="Image 1">
      </a>
      <div class="product-action">
        <img src="<%= product.image2 %>" alt="Image 2">
      </div>
    </div>
    <div class="product-price">
     title
      <a class="btn" href=""
        ><i class="fa fa-shopping-cart"></i>Buy Now</a
      >
    </div>
  </div>
</div>
<% }); %>
              </div>
            </div> -->
          </div>
          <!-- Side Bar End -->
        </div>
      </div>
    </div>
    <!-- Product List End -->

    <span id="dots"></span>

    <!-- More Gallery Images Start Here -->
    <span id="more">
      <div id="moreGallery">
        <div class="container-fluid">
          <div class="row">
            <% products.slice(6).forEach((product) => { %>
              <div class="col-md-4 productImg gridGallery">
                <div class="product-item">
                  <div class="product-image">
                    
                      <img src="<%= product.image1 %>" alt="Image 1">
              
                    <div class="product-action">
                      <img src="<%= product.image2 %>" alt="Image 2">
                    </div>
                  </div>
                  <div class="product-price">
                    <span><%= product.title %></span><br>
                    <i class='bx bx-money'></i>AUD
                    <!-- <span><%= product.price %></span> -->
                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                  </div>
                </div>
              </div>
              <% }); %>
          </div>
        </div>
      </div>
    </span>
    <!-- More Gallery Images End Here  -->

    <!-- Pagination Start -->
    <center>
      <a onclick="showMore()" class="btn btnLoadMore" id="showMoreBtn">
        View More<i class="bx bx-chevrons-down"></i>
      </a>
    </center>
    <!-- Pagination Start -->

    <!-- Brand Start -->
    <div class="brand">
      <div class="container-fluid">
        <div class="brand-slider">
          <% products.forEach((product) => { %>
            <div class="brand-item">
              <img src="<%= product.image1 %>" alt="Image 1">
            </div>
         
            <% }); %>  
        </div>
        
      </div>
    </div>
    <!-- <div class="brand">
      <div class="container-fluid">
        <div class="brand-slider">
          <div class="brand-item"><img src="images/art2/1.jpg" alt="" /></div>
          <div class="brand-item"><img src="images/art2/2.png" alt="" /></div>
          <div class="brand-item"><img src="images/art2/3.jpg" alt="" /></div>
          <div class="brand-item"><img src="images/art2/4.jpg" alt="" /></div>
          <div class="brand-item"><img src="images/art2/5.jpg" alt="" /></div>
          <div class="brand-item"><img src="images/art2/6.jpg" alt="" /></div>
        </div>
      </div>
    </div> -->
    <!-- Brand End -->
<!-- Footer Start -->
<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>Get in Touch</h2>
          <div class="contact-info">
            <p>
              <i class="fa fa-map-marker"></i>Tarneit, Melbourne, VIC,
              Australia, Victoria
            </p>
            <p><i class="fa fa-envelope"></i>nikkisingh1214@yahoo.com</p>
            <p><i class="fa fa-phone"></i>+61 451 496 060</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>Follow Us</h2>
          <div class="contact-info">
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a
                href="https://www.facebook.com/profile.php?id=100063635016016 "
                target="_blank"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>Useful Links</h2>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="painting.html">Paintings</a></li>
            <li><a href="gallery.html">Gallery</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>More Info</h2>
          <ul>
            <li><a href="customization.html">Customization</a></li>
            <li><a href="workshop.html">Workshop</a></li>
            <li><a href="about.html">About us</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- <div class="row payment align-items-center">
        <div class="col-md-6">
          <div class="payment-method">
            <h2>We Accept:</h2>
            <img src="img/payment-method.png" alt="Payment Method" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="payment-security">
            <h2>Secured By:</h2>
            <img src="img/godaddy.svg" alt="Payment Security" />
            <img src="img/norton.svg" alt="Payment Security" />
            <img src="img/ssl.svg" alt="Payment Security" />
          </div>
        </div>
      </div> -->
  </div>
</div>
<!-- Footer End -->

    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6 copyright">
            <p>
              Copyright &copy; <a href="#">2023 | Krishti</a>. All Rights
              Reserved
            </p>
          </div>

          <div class="col-md-6 template-by">
            <p>
              Designed By
              <a href="https://greenindiaenterprises.in/" target="_blank"
                >Graphics Green India PVT LTD.</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Bottom End -->

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script>
      // Function to hide the div
      function hideDiv() {
        const div = document.getElementById('alertBox');
        div.style.display = 'none';
      }
      setTimeout(hideDiv, 1000); // 5000 milliseconds (5 seconds)
      
          </script>
          
          
  </body>
</html>
