<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>KRISHTI | ART</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- Favicon -->
    <link href="images/favicon.ico" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="lib/slick/slick.css" rel="stylesheet" />
    <link href="lib/slick/slick-theme.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mooli&display=swap"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/common.css" rel="stylesheet" />
    <link href="css/book.css" rel="stylesheet" />
  </head>

  <body>

     <!-- Display flash messages if they exist -->
  <% if (typeof messages !== 'undefined' && messages.length > 0) { %>
    <ul>
      <% messages.forEach(message => { %>
        <li style="color: red; font-size: 5rem;"><%= message %></li>
      <% }); %>
    </ul>
  <% } %>
    
    <!-- Top bar Start -->
    <div class="top-bar">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-envelope"></i>
            nikkisingh1214@yahoo.com
          </div>
          <div class="col-sm-6">
            <i class="fa fa-phone-alt">&nbsp;+61</i>
            451496060
          </div>
        </div>
      </div>
    </div>
    <!-- Top bar End -->

   <!-- Bottom Bar Start -->
   <div class="bottom-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-3">
          <div class="logo">
            <a href="/">
              <img src="images/logo.png" alt="Logo" />
            </a>
          </div>
        </div>
        <div class="typewriterWith">
          <div class="typewriter">
            <p>Krishti Paintings & Art Classes</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="user">
            <i class="fa fa-user"></i>
            <a href="<%= user ? '/logout' : '/login' %>" class="btn wishlist">
              <%= user ? 'Logout' : 'Login' %>
            </a>
            <% if (user) { %>
              <a href="/wishlist" class="btn wishlist">
                <i class="fa fa-heart"></i>
              </a>
              <% } %>
            <a href="/cart" class="btn cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bottom Bar End -->

    <!-- Nav Bar Start -->
    <div class="nav">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
          <a href="#" class="navbar-brand">Krishti</a>
          <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-between"
            id="navbarCollapse"
          >
            <div class="navbar-nav mr-auto">
              <a href="/" class="nav-item nav-link"
                >Home &nbsp;<i class="fa fa-home"></i
              ></a>
              <a href="/painting" class="nav-item nav-link">Paintings</a>
              <a href="/gallery" class="nav-item nav-link">gallery</a>
              <!-- <div class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  >gallery</a
                >
                <div class="dropdown-menu">
                  <a href="wishlist.html" class="dropdown-item">p1</a>
                  <a href="login.html" class="dropdown-item">p2</a>
                  <a href="contact.html" class="dropdown-item">p3</a>
                </div>
              </div> -->
              <a href="/customization" class="nav-item nav-link"
                >customization</a
              >
              <a href="/workshop" class="nav-item nav-link active">workshop</a>

              <a href="/about" class="nav-item nav-link">about us</a>
              <a href="/contact" class="nav-item nav-link">Contact US</a>
            </div>
            <div class="navbar-nav ml-auto">
              <div class="nav-item dropdown">
                <a
                  href="/account"
                  class="nav-link"
                  ><%= user.name %>&nbsp; Profile</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
      <div class="container-fluid">
        <ul class="breadcrumb" id="breadcrumbActive">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <!-- <li class="breadcrumb-item"><a href="#">Products</a></li> -->
          <li class="breadcrumb-item active">Our Workshop</li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Category Start -->
    <div class="container-fluid ">
      <div class="container pt-5 pb-3">
          <div class="text-center mb-5">
              <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Subjects</h5>
              <h1>Explore Top Subjects</h1>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="cat-item position-relative overflow-hidden rounded mb-2">
                      <img class="img-fluid" src="images/cat-1.jpg" alt="">
                      <a class="cat-overlay text-decoration-none" href="">
                          <h4 class="font-timing-medium">Web Design</h4>
                          <span>100 Courses</span>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="cat-item position-relative overflow-hidden rounded mb-2">
                      <img class="img-fluid" src="images/cat-2.jpg" alt="">
                      <a class="cat-overlay  text-decoration-none" href="">
                          <h4 class=" font-timing-medium">Development</h4>
                          <span>100 Courses</span>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="cat-item position-relative overflow-hidden rounded mb-2">
                      <img class="img-fluid" src="images/cat-3.jpg" alt="">
                      <a class="cat-overlay  text-decoration-none" href="">
                          <h4 class=" font-timing-medium">Game Design</h4>
                          <span>100 Courses</span>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="cat-item position-relative overflow-hidden rounded mb-2">
                      <img class="img-fluid" src="images/cat-4.jpg" alt="">
                      <a class="cat-overlay  text-decoration-none" href="">
                          <h4 class=" font-timing-medium">Apps Design</h4>
                          <span>100 Courses</span>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="cat-item position-relative overflow-hidden rounded mb-2">
                      <img class="img-fluid" src="images/cat-5.jpg" alt="">
                      <a class="cat-overlay  text-decoration-none" href="">
                          <h4 class=" font-timing-medium">Marketing</h4>
                          <span>100 Courses</span>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="cat-item position-relative overflow-hidden rounded mb-2">
                      <img class="img-fluid" src="images/cat-6.jpg" alt="">
                      <a class="cat-overlay  text-decoration-none" href="">
                          <h4 class=" font-timing-medium">Research</h4>
                          <span>100 Courses</span>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="cat-item position-relative overflow-hidden rounded mb-2">
                      <img class="img-fluid" src="images/cat-7.jpg" alt="">
                      <a class="cat-overlay  text-decoration-none" href="">
                          <h4 class=" font-timing-medium">Content Writing</h4>
                          <span>100 Courses</span>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="cat-item position-relative overflow-hidden rounded mb-2">
                      <img class="img-fluid" src="images/cat-8.jpg" alt="">
                      <a class="cat-overlay  text-decoration-none" href="">
                          <h4 class=" font-timing-medium">SEO</h4>
                          <span>100 Courses</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Category Start -->

    <!-- Courses Start -->
    <div class="container-fluid ">
      <div class="container ">
        <div class="text-center mb-5">
          <h5
            class="text-primary text-uppercase mb-3"
            style="letter-spacing: 5px"
          >
            Courses
          </h5>
          <h1>Our Popular Painting Courses</h1>
        </div>
        <div class="row">
          <% products.slice(0, 8).forEach((product) => { %>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="rounded overflow-hidden mb-2">
              <a href="/product/<%= product._id %>">
                <center>

                  <img class="paintingRow" src="<%= product.image1 %>" alt="Image 1">
                </center>
              </a>
              <div class="bg-secondary p-4">
                <div class="d-flex justify-content-between mb-3">
                  <small class="m-0"
                    ><i class="fa fa-users text-primary mr-2"></i><%= product.workshop %></small
                  >
                  <small class="m-0"
                    ><i class="far fa-clock text-primary mr-2"></i><%= product.moc %></small
                  >
                </div>
                <center>
                  <a class="h5" href=""
                  ><%= product.title %></a
                  >
                </center>
                <div class="border-top mt-4 pt-4">
                  <div class="d-flex justify-content-between">
                    <h6 class="m-0">
                      <i class='bx bx-money'></i>AUD
                      <%= product.price %>
                    </h6>

                    <% const workshopBooking = bookings.find(booking => booking.workshop === product.workshop); %>
                    <% if (workshopBooking) { %>
                      <% console.log("workshopBooking:", workshopBooking); %>
                   
                      <% if (workshopBooking.is_payment) { %>
                        <% console.log("workshopBooking payment:", workshopBooking.is_payment); %>
                        <p>Payment Done.</p>
                        
                        <% } else { %>
                          <p>Payment is Pending.</p>
                      
                      <% } %>
                    <% } else { %>
                      <a href="/bookClass/<%= product._id %>">
                        <button class="m-0 btn" type="submit" onclick="showBookingForm()">Book Now</button>
                      </a>
                    <% } %>

                    
                    
                  </div>
                </div>
                 <!-- Display scheduledDateTimes array -->
                 <div class="mt-3">
                  <button class="m-0 btn viewMoreButton"><strong>View Scheduled Timings</strong></button>
                  <div class="scheduledTimes" style="display: none;">
                    <ul>
                      <% product.scheduledDateTimes.forEach(dateTime => { %>
                        <li><%= new Date(dateTime).toLocaleString(undefined, { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric'}) %></li>
                      <% }); %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
    <!-- Courses End -->

    <span id="dots"></span>

    <!-- More Gallery Images Start Here -->
    <span id="more">
      <!-- Courses Start -->
      <div class="container-fluid">
        <div class="container ">
          <div class="text-center mb-5"></div>
          <div class="row">
            <% products.slice(8).forEach((product) => { %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="rounded overflow-hidden mb-2">
                <img class="paintingRow" src="images/course-1.jpg" alt="" />
                <div class="bg-secondary p-4">
                  <div class="d-flex justify-content-between mb-3">
                    <small class="m-0"
                      ><i class="fa fa-users text-primary mr-2"></i>25
                      Students</small
                    >
                    <small class="m-0"
                      ><i class="far fa-clock text-primary mr-2"></i>01h
                      30m</small
                    >
                  </div>
                  <a class="h5" href=""
                    >Web design & development courses for beginner</a
                  >
                  <div class="border-top mt-4 pt-4">
                    <div class="d-flex justify-content-between">
                      <h6 class="m-0">
                        <i class="fa fa-star text-primary mr-2"></i>4.5
                        <small>(250)</small>
                      </h6>
                      <h5 class="m-0">$99</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
      <!-- Courses End -->
    </span>
    <!-- More Gallery Images End Here -->

    <!-- Pagination Start -->
    <center>
      <a onclick="showMore()" class="btn btnLoadMore" id="showMoreBtn">
        View More<i class="bx bx-chevrons-down"></i>
      </a>
    </center>
    <!-- Pagination Start -->


    <!-- Footer Start -->
    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-widget">
              <h2>Get in Touch</h2>
              <div class="contact-info">
                <p>
                  <i class="fa fa-map-marker"></i>Tarneit, Melbourne, VIC,
                  Australia, Victoria
                </p>
                <p><i class="fa fa-envelope"></i>nikkisingh1214@yahoo.com</p>
                <p><i class="fa fa-phone"></i>+61 451 496 060</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="footer-widget">
              <h2>Follow Us</h2>
              <div class="contact-info">
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a
                    href="https://www.facebook.com/profile.php?id=100063635016016 "
                    target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a href=""><i class="fab fa-linkedin-in"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="footer-widget">
              <h2>Useful Links</h2>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="painting.html">Paintings</a></li>
                <li><a href="gallery.html">Gallery</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="footer-widget">
              <h2>More Info</h2>
              <ul>
                <li><a href="customization.html">Customization</a></li>
                <li><a href="workshop.html">Workshop</a></li>
                <li><a href="about.html">About us</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- <div class="row payment align-items-center">
          <div class="col-md-6">
            <div class="payment-method">
              <h2>We Accept:</h2>
              <img src="images/payment-method.png" alt="Payment Method" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="payment-security">
              <h2>Secured By:</h2>
              <img src="images/godaddy.svg" alt="Payment Security" />
              <img src="images/norton.svg" alt="Payment Security" />
              <img src="images/ssl.svg" alt="Payment Security" />
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <!-- Footer End -->

    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6 copyright">
            <p>
              Copyright &copy; <a href="#">2023 | Krishti</a>. All Rights
              Reserved
            </p>
          </div>

          <div class="col-md-6 template-by">
            <p>
              Designed By
              <a href="https://greenindiaenterprises.in/" target="_blank"
                >Graphics Green India PVT LTD.</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Bottom End -->

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script>
      document.querySelectorAll('.viewMoreButton').forEach(function(button) {
        button.addEventListener('click', function() {
          var scheduledTimesDiv = this.nextElementSibling;
          scheduledTimesDiv.style.display = (scheduledTimesDiv.style.display === 'none' || scheduledTimesDiv.style.display === '') ? 'block' : 'none';
        });
      });

     
    </script>
  </body>
</html>
